<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        <!--Sidebar content-->
        <p>
            Nome: {{PhoneList.nome}}
        </p>
        <p>
            Search: <input ng-model="$ctrl.query"/>
        </p>

        <p>
            Sort by:
            <!--<select ng-model="$ctrl.orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>-->
            <input type="text" 
            ng-model="PhoneList.selected" 
            placeholder="Locations loaded via $http" 
            uib-typeahead="phone as phone.name for phone in PhoneList.getPhonesAutoComplete 
            | limitTo:8
            | filter:{name:PhoneList.selected}" 
            typeahead-loading="" 
            class="form-control">
        </p>
        </div>

    </div>
    <div class="col-md-10">
        <!--Body content-->
        <ul class="phones">
            <li ng-repeat="phone in PhoneList.phones | filter: PhoneList.selected |
                orderBy: PhoneList.orderProp" class="thumbnail">
                <a href="/#!phones/{{phone.id}}" class="thumb">
                    <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"/>
                </a>
                <a href="/#!phones{{phone.id}}" ng-style="{color: $ctrl.estilo}">{{phone.name}}</a>
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
    </div>
</div>


