<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
      background-color: #FA787E;
    }
  
    .css-form input.ng-valid.ng-touched {
      background-color: #78FA89;
    }
</style>
<h1>Teste Form</h1>
<div>
    <form name="formTeste" novalidate class="css-form">
      <label>Name: <input type="text" ng-model="user.name" name="uName" required /></label><br />
      <div ng-show="formTeste.uName.$touched">
        <div ng-show="formTeste.uName.$error.required">Tell us your name.</div>
      </div>
      <div ng-show="formTeste.$submitted && formTeste.uName.$touched">
        <div ng-show="formTeste.uName.$error.required">Please, i told you, tell us your name.</div>
      </div>
      <label>E-mail: <input type="email" ng-model="user.email" name="uEmail" required /></label><br/>
      <div ng-show="formTeste.uEmail.$touched">
        <div ng-show="formTeste.uEmail.$error.required">Tell us your name.</div>
      </div>
      Gender: <label><input type="radio" ng-model="user.gender" value="male" />male</label>
      <label><input type="radio" ng-model="user.gender" value="female" />female</label><br />
      <input type="button" ng-click="reset()" value="Reset" />
      <input type="submit" ng-click="update(user)" value="Save" />
    </form>
    <pre>user = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
    {{formTeste.uEmail}}
</div>