
<img src="{{phoneDetail.phone.images[0]}}" class="phone"/>

<h1>{{phoneDetail.phone.name}}</h1>

<p>{{phoneDetail.phone.description}}</p>

<ul class="phone-thumbs">
    <li ng-repeat="img in phoneDetail.phone.images">
        <img ng-src="{{img}}"/>
    </li>
</ul>

<ul class="specs">
    <li>
        <span>Availability and Networks</span>
        <dl>
            <dt>Availability</dt>
            <dd ng-repeat="availability in phoneDetail.phone.availability">{{availability}}</dd>
        </dl>
    </li>
    <li>
        <span>Additional Features</span>
        <dd>{{phoneDetail.phone.additionalFeatures}}</dd>
    </li>        
</ul>